<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWYicVEv6VhUaG3VInmxwh9XHtRnXs7ok</string>
	<key>GCM_SENDER_ID</key>
	<string>438222289672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.careforconsulting.c4care</string>
	<key>PROJECT_ID</key>
	<string>c4care-988ac</string>
	<key>STORAGE_BUCKET</key>
	<string>c4care-988ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438222289672:ios:15f479f55a848209098abd</string>
</dict>
</plist>